<dl class="qualityHighlights">
  <div>
    <dt>
      <div class="icon-wrapper">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use href='#diamond'></use>
        </svg>
      </div>
      <h6>Premium Quality</h6>
    </dt>
    <dd>Quality that lasts a lifetime. This is something we take seriously at Family Gifts Co.</dd>
  </div>
  <div>
    <dt>
      <div class="icon-wrapper">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use href='#flag'></use>
        </svg>
      </div>
      <h6>Made in the USA</h6>
    </dt>
    <dd>By shopping with us you’re supporting local jobs—100% produced and shipped in the USA.</dd>
  </div>
  <div>
    <dt>
      <div class="icon-wrapper">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use href='#badge'></use>
        </svg>
      </div>
      <h6>Money-back Guarantee</h6>
    </dt>
    <dd>If you’re unhappy with your purchase for any reason let us know within 90 days.</dd>
  </div>
  <div>
    <dt>
      <div class="icon-wrapper">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use href='#star'></use>
        </svg>
      </div>
      <h6>Thousands of Five Stars</h6>
    </dt>
    <dd>We have thousands of real 5-star reviews. Seriously. People love our products.</dd>
  </div>
</dl>