<div class="Main__layout Container Container--narrow">
  <header class="Main__header">
    <h1>Page not found</h1>
  </header>
  <div class="Main__content">
    <p>The page you requested does not exist. <a href="/">Click here</a> to continue shopping.</p>
  </div>
</div>
