<div class="Container Main__layout" data-layout="aside-content">
  <header class="Main__header alignfull">
    <div class="Container">
      {% render 'nav-breadcrumbs' %}
      <h1>{{ collection.title }}</h1>
    </div>
  </header>
  <div class="Main__content">
    {% render 'collection-navigation-header' %}
    {% include 'collection-loop', per_page: 24 %}
  </div>
  <div class="Main__aside">
    <div class="Collection__navigation">
      {% include 'filter-menu' %}
      {% comment %} {% render 'collection-filters' %} {% endcomment %}
    </div>
  </div>
</div>
{% section 'gift-guide-banner' %}

{% if collection.handle contains 'canvas' %}
  <section class="Section Section--collectionDetails">
    <div class="Container"><hr></div>
    <div class="Section__content Container Container--narrow">
      <h3>More About the Canvas Collection</h3>
      <p class="lead">Anyone can have a stunning canvas framed within their house—but who can say they have one specifically personalised for them? Which displays their name, subsequently highlights the affection and care their loved ones have for them?</p>

      <p>If you're considering a purchase from our canvas collection, we can assure you- the recipient of one of our premium canvas gifts will feel incredibly special. </p>
      <p>With 147 unique and stunning designs to choose from, each complete with an in-house pine frame and satin finish, you can't go wrong with a personalized canvas gift from our Canvas Collection. </p>
      <p>In fact- we take our framing very seriously at Family Gifts Co. All of our pine frames are made in-house. Moreover, our top-notch package is specifically designed for safe transport. </p>
      <p>If you order more than one canvas, each canvas will be shipped separately- each with a tracking number to ensure safe delivery.</p>

      <h3>Our Products Are</h3>
      <ul>
        <li>Ready to hang</li>
        <li>1.5" depth for a premium look appearance</li>
        <li>Full Gallery Wrapped and Framed Canvas</li>
        <li>35% Cotton, 65% Polyester, and Satin Finish</li>
      </ul>
      <h3>Make Sure You Pick the Perfect Size</h3>
      <p>Our premium canvas's come in 3 different sizes. Even the smallest size is the perfect gift that your Mom will cherish forever.</p>
      <ul>
        <li>Small: 24"x16"</li>
        <li>Medium: 36"x24"</li>
        <li>Large: 48"x32"</li>
      </ul>
      <p>At Family Gifts, our community is backed by a strong support system of locals who are committed to bring you the best quality products which are 100% produced and shipped in the United States of America. </p>
      <p>We also have a 90- Day money back guarantee if you’re ever unhappy about our products. We’ll happily process a full refund, no questions asked!</p>
      <p>More importantly, all your details are kept safely and secured through a fully protected SSL security!</p>

      <h3>So...How Is Your Premium Canvas Made?</h3>
      <p>All of our premium Canvases from our Canvas collection are created through a mixture of cotton, polyester and satin.</p>

      <p>This keeps the price of your canvas affordable and economical, all while ensuring it has a higher quality finish. </p>

      <p>The elasticity of cotton and polyester mean your premium Canvas is extremely durable, unlikely to experience wear or tear. </p>

      <p>Canvas is also naturally waterproof, meaning if in the rare instance you or your loved ones spill anything onto its premium print, its quality will not be impacted.</p>

      <p>Furthermore, your premium Canvas is incredibly sturdy, a huge reason why the material is so frequently utilised for outdoor use.</p>

      <p>It is difficult to tear, it retains its dye colour even in the harshest of climates, and it readily accepts all treatments for waterproofing and fire. </p>

      <p>Meaning you can display your premium Canvas print absolutely anywhere! From inside your home to out near the patio, you have free creative freedom and no limitations!</p>

      <p>Industrial canvas is created when cotton is first woven through a plain wave, increasing its strength. Each canvas can be given a different appearance and texture based on how tightly this cotton is woven, making it a very versatile medium. </p>

      <p>The canvas is then wrapped around wooden stretchers, and prepped for paint using Gesso. </p>

      <p>Gesso is a white paint mixture consisting of chalk, gypsum and pigment that acts as a binder, meaning a layer is added onto your premium canvas to ensure no paint will come into direct contact with the canvas, which would cause decay. </p>

      <p>It also hides the texture of the canvas, leading to a smooth, streamlined finish. Although some artists enjoy incorporating the texture of the canvas into their artwork, at Family Gifts we prefer a polished, immaculate print finish that will match the elegance of your home.</p>

      <h3>The History Of The Canvas: Why It’s The Perfect Gift</h3>
      <p>Did you know that canvas is a very recent development in the world of art?</p>
      <p>That's right. </p>
      <p>While being a gift that inherently has a sense of classical prestige and decadence, of being from a bygone era, the canvas is actually in relative terms, incredibly new.</p>
      <p>Canvases came into common usage in the 16th century during the Italian Renaissance by Venetian painters, who worked in the canals of Venice. </p>
      <p>They found Canvas easier to use than their traditional materials of wood panels (which absorbed moisture and warped) or frescos (which dried badly) as it was waterproof and less impacted by the damp environment. </p>
      <p>The word ‘canvas’ itself actually comes from the Latin for ‘Cannabis’ as historically they were made from tightly woven hemp.</p>
      <p>Ours are made from premium polyester, cotton and satin though, so don't get any ideas.</p>
      <p>Canvases were cheap, plentiful and easy to obtain in 16th Century Italy- as hemp was used to make the famous sails of the Venetian naval fleet. </p>
      <p>Being lightweight, easily portable and allowing for bigger formats than other mediums, they quickly grew in popularity amongst the entire world.</p>
      <p>It was the Spanish who first took up canvas art after the Italians; there are several late 16th-century Spanish paintings, especially those by Diego Velázquez that elevated canvas by celebrating it alongside royalty.</p>
      <p>By the 17th century, the canvas had spread throughout Northern Europe, and by the 18th they had made their way to America! Hooray!</p>
      <p>They came to supersede panels as the dominant, most popular medium for paintings, a trend still ongoing today. </p>
      <p>Talented and experimental artists have since expanded the potential of the canvas, through using new tools like acrylic paint, embroidery and photo canvas prints to convey beautiful and meaningful ideas and aesthetics.</p>
      <p>As one of the most affordable options available to celebrate art, it has provided a significant means for aspiring photographers and painters to professionally exhibit their art. </p>
      <p>The canvas made creating art for a living a far more feasible dream for so many people.</p>
      <p>And for you, a premium canvas print from FamilyGifts is an affordable and beautiful way to celebrate beautiful art while showing the people you love that you care. </p>

    </div>
  </section>
{% endif %}

<div class="Drawer Drawer--standard" data-component="Drawer" data-identifier="collectionFilters">
  <div class="Drawer__inner">
    {% include 'filter-menu' %}
    {% comment %} {% render 'collection-filters' %} {% endcomment %}
  </div>
  <span class="backdrop"></span>
</div>